In [ ]:
# Auto-generated notebook for visualizations

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
conn = sqlite3.connect(r'/mnt/data/students.db')
df_student = pd.read_sql_query('SELECT * FROM Student;', conn)
df_subject = pd.read_sql_query('SELECT * FROM Subject;', conn)
df_assess = pd.read_sql_query('SELECT * FROM Assessment;', conn)

df = df_assess.merge(df_student, left_on='Student_ID', right_on='Student_ID', how='left')
df = df.merge(df_subject, left_on='Subject_ID', right_on='Subject_ID', how='left')
df['Score'] = pd.to_numeric(df['Score'], errors='coerce')
df.head()

In [ ]:
# Plot examples (run cells to generate figures)
avg_sub = df.groupby('Subject_name', as_index=False)['Score'].mean().sort_values('Score', ascending=False)
plt.figure(figsize=(8,5))
plt.bar(avg_sub['Subject_name'], avg_sub['Score'])
plt.xlabel('Subject')
plt.ylabel('Average Score')
plt.title('Average Score per Subject')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()